.order-container{
    width: 100%;
    height: auto;
}

.order-image-background{
     width: 100%;
    height: 90vw;
    background: url('../../assets/form3.jpg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -6%;
   
}

.order-holder-overlay{
    width: 100%;
    height: 90vw;
    background-color: rgba(0, 0, 0, 0.733);
     margin-top: -6%;
     margin-bottom: 5%;
}

.order-form{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 30px;
    margin-left: 10%;
}

.form-holder{
 width: 100%;
 height: auto;
 padding-top: 20%;    
}

.form-container{
    width: 70%;
     background-color: rgba(255, 255, 255, 0.397);
     padding-bottom: 10%;
     border-radius: 8px;
     margin-left: 15%;
     margin-bottom: 43rem;
}

.form-order{
    width: 50vw;
    height: 4vw;
    border-radius: 6px;
    border: 1px solid white;
    padding-left: 12px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.699);
}

.order-form-below{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: -41%;
    gap: 30px;
   

}

.order-form-below option{
    background-color: rgba(221, 243, 248, 0.493);
   
}

.form-select{
    width: 23vw;
    height: 4vw;
      border: none;
    outline: none;
    color: rgb(82, 81, 81);
    background-color: rgba(171, 184, 192, 0.664);
    outline: 1px solid rgba(247, 244, 244, 0.774);
    border-radius: 7px;
}

.order-date-input{
     width: 23vw;
    height: 4vw;
    padding: 8px;

}

.order-date {
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 4vw;
    color: white;
    gap: 10px;

}

.order-date label {
   font-size: 1.6vw;

}

::placeholder{
    font-size: 1.1vw;
}
.order-date input{
    display: flex;
    flex-direction: column;
     width: 23vw;
    height: 4vw;
    color: rgb(78, 76, 76);
      background-color: rgba(171, 184, 192, 0.664);
    outline: 1px solid rgba(247, 244, 244, 0.774);
    border-radius: 7px;
    border: none;
    font-size: 1.5vw;
    padding-bottom: 15px;

}

.form-holder{
    width: 100%;
    height: 80vw;
}

.order-form button{
    width: 15vw;
    height: 5vw;
    margin-top: 10%;
    margin-left: -54%;
    background-color: rgb(5, 83, 97);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2vw;
 

}

.order-form button:hover{
    background-color: rgb(29, 166, 190);
}