.Intro-container {
    width: 100%;
    height: auto;

}

.background-image {
    width: 80%;
    height: 500px;
    object-fit: cover;
    margin-left: 8%;

}

.intro-header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: center;
    margin-bottom: 60px;
}

.intro-header img {
    width: 48%;
    height: 450px;
    background-color: rgba(34, 187, 248, 0.219);
    border-radius: 50%;
    padding: 40px 40px;
}


.intro-details {
    margin-top: 5%;
}

.intro-details h2 {
    font-size: 17px;
}

.intro-details h1 {
    font-size: 26px;
}

.intro-details button {
    font-size: 15px;
    width: 200px;
    padding: 8px;
    margin-top: 3%;
    background-color: rgb(43, 138, 175);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.intro-details button:hover {
    background-color: rgb(1, 78, 92);
}






/*......... media querry.....*/

@media (max-width:1115px) {

    .intro-header img {
        height: 350px;
    }
}

@media (max-width:1024px) {

    .intro-header {
        margin-left: 2%;
        margin-bottom: 20px;
        height: 400px;
        gap: 60px;
    }
}

@media (max-width:900px) {

    .intro-header img {
        height: 300px;
    }


    .intro-details h1 {
        font-size: 20px;
    }


    .intro-details h2 {
        font-size: 13px;
    }

    .intro-details p {
        font-size: 11px;
    }
}

@media (max-width:700px) {
    .intro-header {
        margin-top: 10%;
    }

    .intro-header img {
        height: 250px;
    }
}

@media (max-width:600px) {
    .intro-header {
        display: flex;
        flex-direction: column;
        margin-top: 30%;
        align-items: center;
        justify-content: center;
        height: 450px;
        gap: 40px;
    }

    .intro-header img {
        height: 400px;
        width: 300px;
        margin-left: -10%;

    }

    .intro-details {
        margin-top: 1%;
    }
}

@media (max-width:500px) {
    .intro-header {
        display: flex;
        flex-direction: column;
        margin-top: 40%;
        align-items: center;
        justify-content: center;
        height: 450px;
        gap: 40px;
    }

    .intro-header img {
        height: 400px;
        width: 300px;
        margin-left: -10%;

    }



    .intro-details h1 {
        font-size: 15px;
    }


    .intro-details h2 {
        font-size: 11px;
    }

    .intro-details p {
        font-size: 9px;
    }

    .intro-details button {
        font-size: 11px;
        width: 100px;
        padding: 8px;
        margin-top: 3%;

    }

}

@media (max-width:360px) {
    .intro-header {
        margin-top: 50%;
    }

      .intro-details h1 {
        font-size: 13px;
    }

     .intro-details h2 {
        font-size: 10px;
    }

     .intro-header img {
        height: 350px;
        width: 250px;
        margin-left: -10%;

    }

}