.about-container {
    width: 100%;
    height: auto;
     overflow-x: hidden;
}

.about-header {
    width: 100%;
    height: 70vh;
    background: url('../../assets/about-image3.jpg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    margin-top: -5%;
}

.about-header-overlay {
    background-color: rgba(8, 9, 10, 0.822);
    width: 100%;
    height: 70vh;
}

.design-cont {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 25%;
}

.design1-left {
    display: flex;
    flex-direction: column;

}

.design1 {
    width: 120px;
    height: 125px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 0% 100%, 100% 46%);
    margin-top: 85%;

}

.design2 {
    width: 120px;
    height: 125px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 0% 100%, 100% 46%);
    opacity: 0.7;
    margin-left: -28%;
    margin-top: -34%;
}

.design3 {
    width: 120px;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.932);
    clip-path: polygon(0 51%, 100% 100%, 100% 0);
}


.about-header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
}

.about-header-content-below {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.about-header-content h1 {
    font-size: 58px;
    margin-top: 10%;
    color: white;
}

.about-header-content span {
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.about-header-content span:hover {
    color: rgb(19, 76, 109);
}

.about-header-content p:hover {
    color: rgb(19, 76, 109);
}

.about-header-content p {
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.about-header-svg {
    color: white;
    font-size: 17px;
}


.about-body1 {
    width: 100%;
    height: auto;
}

.about-body1-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    padding: 5% 9%;
    gap: 140px;
}

.about-body1-container-left {
    display: flex;
    flex-direction: column;
    width: 49%;

}

.about-body1-container-left span {
    font-size: 14px;
    color: rgba(22, 21, 21, 0.897);
    width: 550px;
}

.about-body1-container-left h1 {
    font-size: 25px;
}

.about-body1-container-left button {
    font-size: 14px;
    width: 200px;
    padding: 7px;
    margin-top: 2%;
    background-color: rgb(8, 78, 105);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.about-body1-container-left button:hover {
    background-color: rgb(12, 117, 158);
}

.abc-line1 {
    width: 80px;
    height: 3px;
    background-color: rgb(39, 39, 39);
}

.about-body1-topic {
    margin-bottom: 3%;
}


.about-body1-container-right {
    width: 49%;
}

.about-body1-container-right h3 {
    font-size: 17px;
    color: rgb(5, 68, 87);
}

.about-body1-container-right p {
    font-size: 14px;
    color: rgba(22, 21, 21, 0.897);
    width: 550px;
}


.about-payment-card-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    padding: 5% 5%;
    background-color: rgb(170, 190, 196);
    margin-left: 8%;
    margin-top: 8%;
}

.about-payment-topic {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;

}

.about-payment-topic h1 {
    font-size: 43px;
}

.about-payment-topic p {
    width: 700px;
    text-align: center;
}


.about-payment-card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    gap: 50px;
}

.about-payment-card2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}


.apc-1 img {
    width: 60px;
    background-color: white;
    border-radius: 12px;
    height: 50px;
}

.apc-logo {
    font-size: 34px;
}

.apc-1 {
    width: 650px;
    height: 300px;
    background-color: rgb(22, 21, 21);
    color: rgb(238, 236, 236);
    padding: 3% 3%;
    border-radius: 12px;
}


.apc-1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(12, 11, 11);
}

.apc-2 {
    width: 650px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    padding: 3% 3%;
    border-radius: 12px;
}


.apc-2:hover {
    background-color: rgb(17, 16, 16);
    color: rgb(255, 255, 255);
}

.apc-4 {
    width: 650px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    padding: 3% 3%;
    border-radius: 12px;
}


.apc-4:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
}

.apc-3 {
    width: 650px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 11, 11);
    padding: 3% 3%;
    border-radius: 12px;
}

.apc-3:hover {
    background-color: rgb(12, 11, 11);
    color: rgb(255, 255, 255);
}

.apc-b6 {
    padding: 7px 12px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(7, 7, 7);
    background-color: rgb(240, 239, 239);
    border: 1px solid rgb(10, 10, 10);
    font-weight: 500;
}

.apc-b6:hover {
    background-color: black;
    color: white;

}

.apc-b5 {
    padding: 7px 12px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 75px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.apc-b5:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 9, 9);
}

.apc-b4 {
    padding: 7px 12px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.apc-b4:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 9, 9);
}

.apc-b3 {
    padding: 7px 12px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.apc-b3:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 9, 9);
}

.apc-b2 {
    padding: 7px 12px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 85px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.apc-b2:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 9, 9);
}

.apc-b1 {
    padding: 7px 12px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 85px;
    color: rgb(255, 255, 255);
    background-color: black;

}

.apc-b1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 9, 9);
}


.driver-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-right: 200px;
}

.driver-topc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.driver-slider-container {
    width: 80%;
    margin-left: 11%;
    margin-bottom: 5%;
}

.slick-prev:before {
    display: none;
}

.slick-next:after {
    display: none;
}

.slick-next:before {
    display: none;
}

.driver-review .slick-prev,
.slick-next {
    display: none;
}


.driver-image-holder img {
    width: 340px;
    height: 250px;
    object-fit: cover;
}

.driver-image1-container {
    width: 340px;
    height: 400px;
}

.driver-image-details {
    width: 340px;
    height: 150px;
    background-color: rgb(7, 44, 51);
    padding: 5%;
    text-align: center;
    color: wheat;
}

.driver-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
    gap: 30px;
    justify-content: center;
}

.driver-social-img {
    cursor: pointer;
}

.driver-social-img:hover {
    color: rgb(3, 68, 99);
}

.customer-review-container {
    width: 100%;
    height: 80vw;
    background: url('../../assets/review-background.jpg');
    object-fit: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;

}


.customer-review-holder {
    width: 100%;
    height: 80vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.644);
}

.customer-slider-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 8%;
    margin-top: 5%;

}

.customer-review-topic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: -5%;
}


.customer-review-main {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-inline: auto;
}

.customer-review-main2 {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-inline: auto;
}

.customer-review-topic span {
    width: 700px;
    color: rgba(255, 255, 255, 0.89);
    font-size: 13px;
}

.customer-review-topic h5 {
    color: rgba(255, 255, 255, 0.932);
}

.customer-reiview-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    border-radius: 12px;
}

.customer-reiview-card p {
    padding: 30px 30px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.836);

}

.customer-reiview-card h3 {
    margin-top: 5%;
}

.customer-img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: -35px;

}

.customer-icon {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 30px;

}

.customer-review-card-below {
    background-color: rgb(20, 20, 20);
    width: 350px;
    height: 145px;
    border-radius: 0px 0px 12px 12px;
    text-align: center;
    color: white;

}




/*......... media querry.....*/

@media (max-width:1115px) {
    .about-body1-container-left span {
        font-size: 12px;
        color: rgba(22, 21, 21, 0.897);
        width: 450px;
    }


    .about-body1-container-right p {
        font-size: 12px;
        color: rgba(22, 21, 21, 0.897);
        width: 450px;
    }

    .apc-1 img {
        width: 25px;
        height: 25px;
    }

    .apc-logo {
        font-size: 25px;
    }

    .apc-1 h3 {
        font-size: 13px;
    }

    .apc-2 h3 {
        font-size: 13px;
    }

    .apc-3 h3 {
        font-size: 13px;
    }

    .apc-4 h3 {
        font-size: 13px;
    }

    .apc-1 p {
        font-size: 11px;
    }

    .apc-2 p {
        font-size: 11px;
    }

    .apc-3 p {
        font-size: 11px;
    }

    .apc-4 p {
        font-size: 11px;
    }

    .about-payment-topic h1 {
        font-size: 37px;
    }


    .driver-image-holder img {
        width: 280px;
        height: 190px;
    }

    .driver-image-details {
        width: 280px;
        height: 150px;
    }



    .about-body1-container {
        width: 85%;
        height: auto;
        padding: 5% 5%;
        gap: 140px;
    }

    .customer-reiview-card {
        width: 300px;
        height: 300px;
    }

    .customer-reiview-card p {
        padding: 30px 30px;
        margin-top: 50px;
        font-size: 11px;
    }

    .customer-review-card-below {
        width: 300px;
        height: 145px;
    }

    .customer-review-main {
        margin-left: -5%;
    }

    .customer-review-main2 {
        margin-left: -5%;
    }

    .customer-review-holder {
        width: 100%;
        height: 90vw;
        margin-bottom: 10%;
    }

    .customer-review-container {
        height: 90vw;
    }

}


@media (max-width:1024px) {

    .design1 {
        width: 90px;
        height: 100px;
    }

    .design2 {
        width: 90px;
        height: 100px;
    }

    .design3 {
        width: 90px;
        height: 100px;
    }

    .about-header-content h1 {
        font-size: 44px;
    }

    .about-body1-container-left h1 {
        font-size: 21px;
    }

    .about-body1-container-right h3 {
        font-size: 14px;

    }

    .about-body1-container-left span {
        font-size: 11px;
        color: rgba(22, 21, 21, 0.897);
        width: 350px;
    }


    .about-body1-container-right p {
        font-size: 11px;
        color: rgba(22, 21, 21, 0.897);
        width: 350px;
    }

    .about-body1-container-left button {
        font-size: 12px;
        width: 150px;
        padding: 6px;
    }


    .driver-image-holder img {
        width: 250px;
        height: 190px;
    }

    .driver-image-details {
        width: 250px;
        height: 150px;
    }

    .driver-image-details h3 {
        font-size: 13px;
    }

    .driver-image-details span {
        font-size: 10px;
    }

    .driver-social {
        gap: 10px;
    }

    .driver-social-img {
        width: 13px;
        height: 13px;
    }

    .customer-review-topic h1 {
        font-size: 28px;
    }

    .customer-review-topic span {
        width: 700px;
        color: rgba(255, 255, 255, 0.89);
        font-size: 11px;
    }


    .customer-reiview-card {
        width: 250px;
        height: 250px;
    }

    .customer-reiview-card p {
        padding: 30px 30px;
        margin-top: 50px;
        font-size: 10px;
    }

    .customer-review-card-below {
        width: 250px;
        height: 145px;
    }

    .customer-review-main {
        margin-left: 2%;
    }

    .customer-review-main2 {
        margin-top: 5%;
        margin-left: 2%;
    }

    .customer-review-holder {
        width: 100%;
        height: 90vw;
        margin-bottom: 10%;
    }

    .customer-review-container {
        height: 90vw;
    }

    .customer-icon {
        width: 20px;
        left: 10px;
        top: 20px;
    }

    .customer-reiview-card h3 {
        margin-top: 5%;
        font-size: 13px;
    }

    .customer-reiview-card span {
        margin-top: 5%;
        font-size: 10px;
    }


}

@media (max-width:900px) {

    .driver-image-holder img {
        width: 220px;
        height: 190px;
    }

    .driver-image-details {
        width: 220px;
        height: 150px;
    }

    .driver-image-details h3 {
        font-size: 13px;
    }

    .driver-image-details span {
        font-size: 10px;
    }

    .driver-social {
        gap: 10px;
    }

    .driver-social-img {
        width: 13px;
        height: 13px;
    }


    .customer-review-topic h1 {
        font-size: 24px;
    }

    .customer-review-topic span {
        width: 700px;
        color: rgba(255, 255, 255, 0.89);
        font-size: 9px;
    }


    .customer-reiview-card {
        width: 200px;
        height: 250px;
    }

    .customer-reiview-card p {
        padding: 30px 30px;
        margin-top: 50px;
        font-size: 9px;
    }

    .customer-review-card-below {
        width: 200px;
        height: 145px;
    }

    .customer-review-main {
        margin-left: 2%;
    }

    .customer-review-main2 {
        margin-top: 5%;
        margin-left: 2%;
    }

    .customer-review-holder {
        width: 100%;
        height: 110vw;
        margin-bottom: 10%;
    }

    .customer-review-container {
        height: 110vw;
    }

    .customer-icon {
        width: 20px;
        left: 10px;
        top: 20px;
    }

    .customer-reiview-card h3 {
        margin-top: 5%;
        font-size: 11px;
    }

    .customer-reiview-card span {
        margin-top: 5%;
        font-size: 9px;
    }

    .customer-img {
        width: 50px;
        height: 50px;
        top: -28px;
    }

}


@media (max-width:800px) {

    .design1 {
        width: 60px;
        height: 70px;
    }

    .design2 {
        width: 60px;
        height: 70px;
    }

    .design3 {
        width: 60px;
        height: 70px;
    }

    .about-header-content h1 {
        font-size: 30px;
    }

    .about-body1-container-left h1 {
        font-size: 17px;
    }

    .about-body1-container-left span {
        font-size: 9px;
        width: 300px;
    }

    .about-body1-container-right h3 {
        font-size: 12px;
    }

    .about-body1-container-right p {
        font-size: 9px;
        width: 300px;
    }

    .about-body1-container {
        width: 85%;
        height: auto;
        padding: 5% 5%;
        gap: 50px;
    }

    .about-payment-topic h1 {
        font-size: 27px;
    }

    .about-payment-topic p {
        width: 500px;
        font-size: 9px;
    }

    .apc-1 {
        width: 650px;
        height: 250px;
    }

    .apc-b1 {
        padding: 5px 8px;
        margin-top: 25px;
        font-size: 9px;

    }

    .apc-2 {
        width: 650px;
        height: 250px;
    }

    .apc-b2 {
        padding: 5px 8px;
        margin-top: 25px;
        font-size: 9px;

    }

    .apc-3 {
        width: 650px;
        height: 250px;
    }

    .apc-b4 {
        padding: 5px 8px;
        margin-top: 25px;
        font-size: 9px;

    }

    .apc-4 {
        width: 650px;
        height: 250px;
    }

    .apc-b5 {
        padding: 5px 8px;
        margin-top: 25px;
        font-size: 9px;

    }


    .apc-5 {
        width: 650px;
        height: 250px;
    }

    .apc-b6 {
        padding: 5px 8px;
        margin-top: 5px;
        font-size: 9px;

    }


    .apc-6 {
        width: 650px;
        height: 250px;
    }

    .apc-1 p {
        font-size: 9px;
    }

    .apc-2 p {
        font-size: 9px;
    }

    .apc-3 p {
        font-size: 9px;
    }

    .apc-4 p {
        font-size: 9px;
    }

    .apc-5 p {
        font-size: 9px;
    }

    .apc-6 p {
        font-size: 9px;
    }

    .driver-topc {
        font-size: 14px;
    }

    .driver-image-holder img {
        width: 190px;
        height: 190px;
    }

    .driver-image-details {
        width: 190px;
        height: 150px;
    }

    .customer-reiview-card p {
        padding: 30px 30px;
        margin-top: 50px;
        font-size: 7px;
    }

    .customer-reiview-card {
        width: 150px;
        height: 230px;
    }

    .customer-review-card-below {
        width: 150px;
        height: 145px;
    }

    .customer-slider-container {
        gap: 60px;
        margin-left: 13%;
        margin-top: 5%;

    }

    .customer-review-topic span {
        width: 500px;
        font-size: 9px;
    }

}


@media (max-width:700px) {

    .driver-topc {
        font-size: 12px;
    }

    .driver-image-holder img {
        width: 160px;
        height: 190px;
    }

    .driver-image-details {
        width: 160px;
        height: 150px;
    }

}

@media (max-width:600px) {

    .driver-topc {
        font-size: 10px;
    }

    .driver-topc p {
        font-size: 8px;
    }

    .driver-image-holder img {
        width: 120px;
        height: 150px;
    }

    .driver-image-details {
        width: 120px;
        height: 110px;
    }

    .driver-image-holder {
        width: 120px;
        height: 260px;
    }

    .driver-image1-container {
        height: 260px;
        width: 120px;
    }

    .about-header-content {
        top: 8%;
    }

    .about-header-content h1 {
        font-size: 19px;
    }

    .about-header-svg {
        color: white;
        font-size: 10px;
    }

    .about-header-content span {
        font-size: 9px;
    }

    .about-header-content p {
        font-size: 9px;
    }

    .about-body1-container-left h1 {
        font-size: 13px;
    }

    .about-body1-container-left span {
        font-size: 8px;
        width: 200px;
    }

    .about-body1-container-right h3 {
        font-size: 10px;
    }

    .about-body1-container-right p {
        font-size: 8px;
        width: 200px;
    }

    .about-body1-container-left button {
        font-size: 10px;
        width: 100px;
        padding: 6px;
    }

    .about-payment-card1 {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 15%;
    }

    .about-payment-card2 {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 15%;
    }

    .apc-1 {
        width: 300px;
        height: 250px;
    }

    .apc-2 {
        width: 300px;
        height: 250px;
    }

    .apc-3 {
        width: 300px;
        height: 250px;
    }

    .apc-4 {
        width: 300px;
        height: 250px;
    }

    .apc-5 {
        width: 300px;
        height: 250px;
    }

    .apc-6 {
        width: 300px;
        height: 250px;
    }

    .about-payment-topic h1 {
        font-size: 22px;
    }

    .about-payment-topic p {
        width: 400px;
        font-size: 9px;
    }

    .apc-1 p {
        font-size: 11px;
        padding: 10px 20px;
    }

    .apc-2 p {
        font-size: 11px;
        padding: 10px 20px;
    }

    .apc-3 p {
        font-size: 11px;
        padding: 10px 20px;
    }

    .apc-4 p {
        font-size: 11px;
        padding: 10px 20px;
    }

    .apc-5 p {
        font-size: 11px;
        padding: 10px 20px;
    }

    .apc-6 p {
        font-size: 11px;
        padding: 10px 20px;
    }

    .customer-review-topic h5 {
        font-size: 10px;
    }

    .customer-review-topic h1 {
        font-size: 17px;
    }

    .customer-review-topic span {
        width: 400px;
        font-size: 8px;
    }

    .customer-review-main {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-left: 15%;
    }

    .customer-review-main2 {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-left: 15%;
    }

    .customer-reiview-card {
        width: 300px;
        height: 230px;
    }

        .customer-review-card-below{
        width: 300px;
        height: 145px;
    }

    .customer-reiview-card p {
        padding: 20px 20px;
        margin-top: 50px;
        font-size: 9px;
    }

      .customer-review-holder {
        width: 100%;
        height: 1500px;
        margin-bottom: 10%;
    }

    .customer-review-container {
        height: 1800px;
    }

}

@media (max-width:450px) {
        
    .about-body1-container-left h1 {
        font-size: 11px;
    }

    .abc-line1{
    width: 40px;
    height: 3px;
    background-color: rgb(39, 39, 39);
}

    .about-body1-container-left span {
        font-size: 8px;
        width: 150px;
    }

        .about-body1-container-right p{
        font-size: 8px;
        width: 150px;
    }

        .about-body1-container-left button{
        font-size: 8px;
        width: 80px;
        padding: 5px;
    }


        .about-payment-topic h1{
        font-size: 17px;
    }

        .about-payment-topic p {
        width: 200px;
        font-size: 8px;
    }


    
    .apc-1 {
        width: 300px;
        height: 250px;
    }

    .apc-2 {
        width: 300px;
        height: 250px;
    }

    .apc-3 {
        width: 300px;
        height: 250px;
    }

    .apc-4 {
        width: 300px;
        height: 250px;
    }

    .apc-5 {
        width: 300px;
        height: 250px;
    }

    .apc-6 {
        width: 300px;
        height: 250px;
    }

    .about-payment-topic h1 {
        font-size: 22px;
    }

    .about-payment-topic p {
        width: 300px;
        font-size: 8px;
    }

    .apc-1 p {
        font-size: 8px;
        padding: 10px 20px;
    }

    .apc-2 p {
        font-size: 8px;
        padding: 10px 20px;
    }

    .apc-3 p {
        font-size: 8px;
        padding: 10px 20px;
    }

    .apc-4 p {
        font-size: 8px;
        padding: 10px 20px;
    }

    .apc-5 p {
        font-size: 8px;
        padding: 10px 20px;
    }

    .apc-6 p {
        font-size: 8px;
        padding: 10px 20px;
    }


        .apc-1{
        width: 200px;
        height: 200px;
    }
        .apc-2{
        width: 200px;
        height: 200px;
    }
        .apc-3{
        width: 200px;
        height: 200px;
    }
        .apc-4{
        width: 200px;
        height: 200px;
    }
        .apc-5{
        width: 200px;
        height: 200px;
    }
        .apc-6{
        width: 200px;
        height: 200px;
    }

        .about-payment-card1 {
        width: 300px;
        margin-left: 5%;
    }

        .about-payment-card2 {
        width: 300px;
        margin-left: 5%;
    }

    .driver-topc {
        font-size: 8px;
    }

        .driver-image-holder img{
        width: 100px;
        height: 190px;
    }

        .driver-image-details{
        width: 100px;
        height: 110px;
    }

        .driver-image-details h3{
        font-size: 9px;
    }

    .driver-image-details span {
        font-size: 8px;
    }


    .driver-social-img {
        width: 10px;
        height: 10px;
    }

        .customer-review-topic h1{
        font-size: 13px;
        }

        .customer-reiview-card {
        width: 200px;
        height: 230px;
        }

            .customer-review-card-below{
        width: 200px;
        height: 145px;
    }

        .about-header-content h1 {
        margin-top: 20%;
    }

  
    
}


@media (max-width:360px) {
    .about-payment-card1{
        margin-left: -7%;
    }
    .about-payment-card2{
        margin-left: -7%;
    }

    .driver-image-holder img {
        width: 80px;
        height: 190px;
    }

    .driver-image-details {
        width: 80px;
        height: 110px;

    }

    .driver-container{
        margin-bottom: 5%;
    }

        .customer-review-main {
        margin-left: 5%;
        }
    

        .customer-review-main2 {
        margin-left: 5%;
        margin-top: 20%;
        }

            .customer-review-topic span{
        width: 300px;
        font-size: 8px;
    }
    

}